# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Data files
# -------------------------
*.csv
*.npy

# -------------------------
# Model files
# -------------------------
*.pt

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Keep folder structure
# -------------------------
!*/.gitkeep

*.zip